@import "tailwindcss";

section,
footer {
  background-color: #1e46a3ee;
}
/* #181619 */
section.no-bg {
  background-color: transparent;
}

.bg-img::before {
  content: "";
  position: fixed;
  /* height: 800px; */
  inset: 0;
  z-index: -1;
  background-image: url("./kuu-top1.jpg");
  background-size: cover;
  background-position: center;
}

@media (max-width: 770px) {
  .bg-img::before {
    background-image: url("./kuu-top1.jpg");
  }
}
